{% extends 'layout.html.twig' %}

{% block title %}Картографічний метод:{% endblock %}

{% block body %}
<div class="our-service-area bg-grey pd-btm-50">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Картографічний метод:</h3>
            <hr>
        </div>
        <div class="container-body-static">
            <h2>Картографічні обліки</h2>
            <p>Картографічний метод  метод наукового дослідження, у якому карта
                виступає як модель досліджуваного об’єкта і як проміжна ланка між об’єктом
                і дослідником. Картографічний метод дослідження включає: описи по
                картах; графічні побудови: профілі, блокдіаграми й ін.; виміри по картах,
                математичну обробку цих вимірів і т. д. Картографічний метод має у своєму
                розпорядженні більше число прийомів аналізу карт, включаючи описи по
                картах, графічні побудови по них, картометричні визначення, математичне
                моделювання. За допомогою картографічного методу вивчають структуру й
                морфологію явищ, їх динаміку й взаємозв’язки, функціонування, дають
                прогнози розвитку і розміщення у часі й просторі.</p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/oblik4.jpg') }}" alt="Облік">
                    </td>
                </tr>
            </table>
            <p>Картографічний метод є одним із найважливіших в арсеналі дослідни
                цького апарату географа. Його завдання полягає у використанні макетного
                моделювання, основним інструментом якого є карта, що має інформаційні,
                пізнавальні, пояснювальні функції. Тобто карта стосовно суспільно-географічних
                досліджень – соціально-економічний портрет території чи певного явища (при
                тематичному картографуванні). Однак сам по собі картографічний метод, крім
                фіксації («фотографування») обстановки, малоефективний. Тому він спрацьовує
                у сукупності з іншими методами порівняльно-описовим, математичним та ін.
                При застосуванні різного роду математичних прийомів карту можна
                використати не тільки як вихідний матеріал для наступних дослідницьких
                операцій (просторового аналізу політичних і соціально-економічних явищ і
                процесів, їх територіальної диференціації), але й при конструюванні
                територіальних соціально-економічних систем, їх розвитку .
            </p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/wheatear_male.jpg') }}" alt="Облік">
                    </td>
                </tr>
            </table>
            <p>Відомо багато картометричних прийомів, які розширюють можливості
                використання картографічного методу. З ним найтісніше пов’язаний
                просторовий аналіз, що вивчає всю сукупність факторів розміщення та
                регіонального розвитку об’єктів і явищ при вивченні їх загальних особливостей.
                Цей метод також поєднує регіональний і локальний аналізи.
                Регіональний – це аналіз факторів регіонального розвитку при вивченні закономірностей
                та особливостей розвитку конкретних районів з метою визначення
                раціональних шляхів їх соціально-економічного розвитку . Локальний –
                це аналіз факторів розвитку і розміщення конкретних об’єктів для визначення
                і вивчення напрямів і обсягів їх розвитку в соціально-економічному
                плані. Він особливо ефективний при вивченні закономірностей просторового
                розміщення та при територіальному аналізі.</p>
        </div>
    </div>
</div>
{% endblock %}