{% extends 'layout.html.twig' %}

{% block title %}Комбінований метод:{% endblock %}

{% block body %}
<div class="our-service-area bg-grey pd-btm-50">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Комбінований метод:</h3>
            <hr>
        </div>
        <div class="container-body-static">
            <h2>Комбінований метод обліку</h2>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}