{% extends 'layout.html.twig' %}

{% block title %}Точковий метод:{% endblock %}

{% block body %}
<div class="our-service-area bg-grey pd-btm-50">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Точковий метод:</h3>
            <hr>
        </div>
        <div class="container-body-static">
            <h2>Точкові обліки</h2>
            <h4>Піші точкові обліки у зімкнутих біотопах.</h4>
            <p>
                Точкові обліки, тривалістю по 5-10 хвилин через кожні 250 - 400 м (залежно від складності біотопу), здійснюються під час маршруту переважно у деревинно-чагарникових біотопах, природних та штучних лісах, де візуальний зв'язок із птахом найчастіше ускладнений. Рекомендують підраховувати птахів на 20 точках у межах маршруту, але кількість точок може бути й меншою, якщо умови місцевості несприятливі цьому. Облікову точку не можна закладати на межі біотопів, а тільки в центрі або в граничних межах кожного з них.
                Маршрут точкових обліків закладають у формі кола або прямокутника, щоб раціонально витрачати час. Якщо місцевість не дозволяє прокласти маршрут у вигляді замкнутого кола, його планують із урахуванням відвідування існуючих біотопів.
                Умови проведення. Між обліковими точками фахівець пересувається пішки або з використанням веслового човна (в деяких умовах - на велосипеді). Автотранспорт можна використати тільки в агроценозах. Кількість обліків на одному маршруті повинна бути не меншою двох за експедиційний виїзд. Місце розташування точок на маршруті повинно бути фіксованим і прив'язаним до природних орієнтирів: перехрестя стежок або квартальних просік, окремі топографічні орієнтири, дерева або чагарники виразної форми й т. д. Це необхідно для повторення точок маршруту в різні сезони та різні роки.
                Картосхема. Для точкового обліку також складається схема пересування з абрисом околиць облікових точок. Різниця в схемах зводиться тільки до того, що дотримання приблизного масштабу всього маршруту не обов'язкове. Докладно замальовується місцевість навколо кожної з 20 точок, із присвоєнням їм номерів, зазначених на схемі.
                Особливості реєстрації птахів. У польовий щоденник заносяться всі почуті або побачені птахи, напрямок до них і дистанція. Після завершення спостережень обліковець визначає декілька концентричних радіусів на кругових діаграмах, у межах яких була зроблена біологічна зйомка для наступного розрахунку щільності населення птахів. Погодні умови й час обліку так впливають на активність птахів, що результати роботи в одній і тій же точці в різні дні можуть бути абсолютно різними за площею, що охоплена дослідженнями. Послідовність відвідування точок бажано не дотримувати, щоб час 5-хвилинних обліків на одній точці зробити більш випадковим, тому в польовому щоденнику поруч із номером точки записується інтервал часу й особливості погоди до цього: порив вітру, сонце виглянуло через хмари, гуркіт грому. При істотних перешкодах у роботі (шум від літаків, іншого транспортного засобу, постріл і т. д.) облік на деякий час припиняють, фіксують перерву по годинниках і відновлюють прослуховування після нормалізації обстановки.
            </p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/oblik1.jpg') }}" alt="Облік">
                    </td>
                </tr>
            </table>
            <h4>Реєстрація мігруючих птахів на спеціально обладнаному пункті спостережень (ПС)</h4>
            <p>Місце (пункт) спеціальних спостережень вибирається заздалегідь і служить, зазвичай, кілька років. Головними умовами вибору є: вільний круговий огляд у радіусі не менше ніж 2-4 км. ПС на період спостережень обладнується укриттям на випадок непогоди. Оптимальним слід вважати наявність на ПС змонтованої напівпохилої опори для реєстрації обліковцем висотних міграцій у положенні “напівлежачи”.
                Час початку спостережень - за 30 хвилин до сходу сонця. Мігруючі птахи реєструються окремо для кожної з 4-х ранкових годин безперервних спостережень й 2-х вечірніх, які закінчуються через 30 хвилин після заходу сонця. Вечірні спостереження можна поєднувати з обліками на короткому фіксованому маршруті. Найкращі результати дає синхронна робота двох спостерігачів, один із яких протягом 15 хвилин кожної ранкової години реєструє висотну міграцію.
                Між ранішніми і вечірніми годинами безперервних спостережень мігруючі птахи реєструються протягом 15 хвилин кожної цілої години. Дані цих контрольних відрізків дозволяють оцінити інтенсивність міграцій протягом неконтрольованного світлого періоду доби.
                Захмаренність, напрямок і силу вітру, температуру й опади, умови видимості реєструють на початку спостережень і щогодини підтверджують її стабільність або зміни, що відбулися.
                Реєструється кожна окрема особина або зграя, час, напрямок і висота польоту, форма зграї.
                У темний період доби необхідно прослуховувати небозвід до 1-2 годин ночі, у місячні ночі (5 днів до повного місяца й 2 дні після) спостереження проводять у підзорну трубу, чергуючи 15 хвилинні реєстрації з 15 хвилинними перервами для відпочинку.
                Тривалі спостереження на ПС надзвичайно трудомісткі, тому рекомендується проводити їх перші 3 дні кожної декади з 11.03 по 23.05 і з 11.08 по 13.11.
            </p>
            <h4>Точкова реєстрація птахів на прокосах.</h4>
            <p>Методика є різновидом описаного вище обліку в очеретяних заростях, де час спостережень в одній точці залежить від цілей досліджень.
                Оптимальна форма прокосів “Т-образна”, де кожен коридор має довжину 20 метрів, при ширині 1-1.5 метра. Прокоси влаштовують в 4-5 метрах від сухого берега або 1-2 метрах від краю плеса, при цьому вершина букви “Т” повинна бути перпендикулярна до берега. У місці перетинання коридорів установлюється човен, або щось інше, де обліковець може замаскируватись на час спостережень. З метою реєстрації видового складу пастушкових (Rallidae) птахів на прокосі спостереження ведуть протягом двох годин на всіх його коридорах одночасно. Для одержання кількісних даних бажано встановлювати спостереження за кутовим сектором двох коридорів протягом 15 хв., потім наступні 15 хв. - у протилежному кутовому секторі. Після 30 хв. обліків необхідна 15 хвилинна перерва для відпочинку обліковця, потім послідовність повторюється. Якщо активність птахів з будь яких причин різна в різних коридорах, то спостереження ведуть надалі тільки за тою ділянкою, де активність птахів максимальна. У підсумку кількісні дані знімаються в інтервалі 90 хв., з двома перервами тривалістю 30 хв.
                Час початку спостережень бажано суворо дотримувати. Обліковець заздалегідь проходить у «схованку», щоб між початком спостережень і прибуттям людини на ПС пройшло не менше 5-10 хв. Безпосередньо спостереження необхідно починати за 30 хв. до сходу сонця.
                Картографічний результат спостережень не передбачений. Обліковець тільки реєструє переважний напрямок переміщень птахів по прокосах, виходячи із щоденникових записів. Місце прокосів наноситься на схему контрольної площадки.
                Після спостережень прокоси можуть бути використані для виловів горобиних і пастушкових птахів. Більш повні результати дає синхронне застосування методу спостережень і виловів на двох паралельних системах прокосів. Вони повинні бути на відстані більше 200 метрів один від одного, щоб галас виловлених птахів не впливав на результати спостережень.
            </p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/oblik2.jpg') }}" alt="Облік">
                    </td>
                </tr>
            </table>
            <h4>Точковий облік пастушкових птахів з використанням магнітофонних записів їх голосів.</h4>
            <p>Маршрут прокладається уздовж протоки або берегової лінії, де необхідний біотоп прилягає до берега. Точки під час роботи наносять на карту, використовуючи GPS-пристрої. Методика обліків та ж, тільки послідовність дій інша: відтворення голосу одного з видів протягом 15 сек. й 45 сек. прослуховування, потім те ж саме з голосом іншого виду. Послідовність повторюється для всіх видів 3-4 рази. При отриманні суперечливих результатів, кратність повторень можна збільшити, або ж через якийсь час відвідати точку ще раз, якщо кількість “відгуків” якого-небудь виду могла бути пов'язана з концентрацією птахів на сусідніх ділянках.
            </p>
            <h4>Точковий облік скупчень птахів.</h4>
            <p>Застосовується для картування переважно водоплавних та болотяних птахів на контрольних ділянках. Робота націлена на збір первинного матеріалу для майбутнього зонування та розробки менеджмент-плану водно-болотними угіддями, створення реєстру структурних елементів екомережі. За результатами абсолютних або трансектних обліків на карту наноситься точне місце локалізації моновидових і полівидових скупчень птахів, межі основних біотопів або, наприклад, місць розташування колоній. Площі водойми кормових полів, якщо птахи годувалися там, зручніше брати із сучасних електронних карт. На карту необхідно також нанести локалізацію значних технічних споруд, місць дренажних та водозабірних каналів, а також важливі антропогенні чинники, зокрема наявність наметів, рибалок й т. ін. Якщо в розміщенні птахів протягом доби відбуваються зміни, то це повинно бути відображено на одній або кількох картах контрольної площадки. Карту необхідно доповнити відомостями про рівень води на період обстеження, цвітіння або забруднення, а при наявності відповідних приладів –солоності та температури води.
            </p>
        </div>
    </div>
</div>
{% endblock %}