{% extends 'layout.html.twig' %}

{% block title %}Маршрутний метод:{% endblock %}

{% block body %}
<div class="our-service-area bg-grey pd-btm-50">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Маршрутний метод:</h3>
            <hr>
        </div>
        <div class="container-body-static">
            <h2>Маршрутний метод обліку</h2>
            <p>Використовуючи маршрутний метод, спостерігачі пересуваються обраним біотопом вздовж звичного маршруту і фіксують усіх птахів, яких вдалося визначити за забарвленням чи за покликом. Більшість спостерігачів рекомендують пересуватися з середньою швидкістю близько 3 км на годину. Також необхідно рахувати всіх птахів у радіусі 25 м.
            </p>
            <p>Із даних маршрутного обліку, який є вибірковим дослідженням, можна отримати оцінку загальної кількості птахів у лісі. Більше того, продовжуючи такі обліки протягом року, ви зможете виявити сезонні та річні зміни в популяціях птахів.
            </p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/oblik3.jpg') }}" alt="">
                    </td>
                </tr>
            </table>
            <p>Під час піших прогулянок або на транспорті, наприклад, на човні, коли необхідно рухатися швидше, ніж цього вимагає маршрутний метод, варто вести п'ятнадцятихвилинний список птахів, яких ви спостерігаєте. Зазвичай для цього використовують аркуш із записника, з лівого боку пишуть список птахів і колонки для кожних п'ятнадцяти хвилин. Кожне спостереження птаха позначають паличкою чи «галочкою», додаткові символи використовують для позначення пісні, гнізда тощо. Якщо до цього додати опис біотопу, в якому ви перебуваєте, ці записи стануть більш ніж цінним.
            </p>
            <h4>Облік із пунктів спостережень</h4>
            <p>Це приклад іншого методу, який можна використовувати протягом усього року, для оцінки відносної поширеності птахів у різних середовищах існування. Облік із пунктів спостережень проводять кількома різними способами. Наприклад, під час спостережень у лісі можна використати десять різних пунктів, розташованих приблизно на однаковій відстані один від одного, важливо, щоб ці пункти можна було легко виявити. У кожному пункті перебувають протягом п'яти хвилин і фіксують усіх птахів, яких бачать або чують у радіусі 25 м.
            </p>
            <p>Один учений чи навіть команда фахівців не в змозі документувати та відстежувати роз-повсюдження та переміщення такої великої кількості видів птахів. їм потрібна ваша допомога. І не має значення чи повідомите ви про 5 видів, що прилетіли до вашої годівнички, чи сповістите про 75 побачених під час цілоденної прогулянки лісом. Сподіваємося, що ви й надалі допомагатимете нам у вивчені розповсюдження та чисельності птахів в Україні, адже це не вимагає особливих зусиль, потрібно лише рахувати та реєструвати птахів, яких ви спостерігаєте дивлячись у вікно чи гуляючи у природі, а найближча нагода — Європейські дні спостереження за птахами, що відбуватимуться 4-5 жовтня 2008 року.
            </p>
            <table width=100% height=100%>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img src="{{ asset('images/static/oblik5.png') }}" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}